*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
   
}
header{
    display: flex;
    border-radius: 1px solid rgb(219, 210, 210);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 110;
    background-color: white;
}
.header-left{
    display: flex;
    align-items: center;
}
.Address{
    padding: 17px 30px;
}
.Address p{
    font-size: smaller;
}
.Address h3{
    font-weight: bold;
}
.logo{
    border-right: 1px solid rgb(228, 204, 204);
    padding: 20px 30px;
}
.Search-Box{
    background-color: rgb(238, 220, 220);
    padding: 10px 10px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
}
.Search-Box input{
    background: transparent;
    border-style: none;
    width: 100%;
}
.Search-Box input:focus{
    outline: none;
}
.header-btn{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-size: large;
    gap: 20px;
}

.cart{
    background-color:#dfd8d8;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 108px;
    height: 30px;
}
.Log{
     padding: 10px 20px;
     text-decoration: none;
     color: black;
     
}
#Banner{
    max-width: 1080px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
}
.image{
   height: 200px; 
}
#Img-box{
    max-width: 3000px;
    align-content: flex-start;
    padding-left: 20px;
}
#Img-box img{
   width: auto;
   height: 100px;
}
#grid{
    width: 100%;
}
#grid img{
    height: 140px;
}
.bor-box{
    height: 300px;
    display: flex;
    gap: 20px; 
    
   
 

}
.lim{
    height: 180px;
    width: 140px;
    display: flex;
     border: 1px solid gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   font-size: 10px;
}
.lim img{
    height: 100px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.price a{
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}

.footer{
    font-size: larger;
    font-weight: bolder;
    padding-top: 50px;
}

